{% extends "base.html" %}

{% block content %}
  <h1>
    {{ cook.username }}
    {% if user == cook %} (Me)
    <a href="{% url 'restaurant:cook-update' pk=cook.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
    {% endif %}
  </h1>
  <hr>
  <p><strong>Email address:</strong> {{ cook.email }}</p>
  <p><strong>First name:</strong> {{ cook.first_name }}</p>
  <p><strong>Last name:</strong> {{ cook.last_name }}</p>
  <p><strong>Years of experience:</strong> {{ cook.years_of_experience }}</p>
  <hr>

  <h4>Dishes that the cook knows how to prepare</h4>
  <ul>
    {% for dish in cook.dishes.all %}
      <li><a href="{% url 'restaurant:dish-detail' pk=dish.id%}">{{ dish.name }}</a></li>
    {% empty %}
      <li>There are no dishes here.</li>
    {% endfor %}
  </ul>
{% endblock %}
